@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;
@use "../../styles/typography" as *;

.form {
  padding: 2rem;
  width: 100%;

  &__title {
    font-family: $secondary-font;

    font-weight: 600;
  }
  &__label {
    font-family: $primary-font;
    color: $bell-blue;
    font-weight: 600;
  }
  &__details {
    padding: 2rem;
    @include flex-container($align: flex-start, $justify: space-around);
  }

  &__contact {
    @include flex-container($direction: column, $justify: space-between);
    height: 17rem;
  }

  &__comment {
    @include flex-container($direction: column, $justify: center);
  }

  &__input {
    padding: 0 1rem;
    height: 2.25rem;
    font-size: 0.8125rem;
    line-height: 1.25rem;
    color: black;
    background-color: white;
    border-radius: 0.8rem;
    border: 0.0625rem solid grey;
    background-repeat: no-repeat;
    background-position: right 1rem center;

    @include tablet {
      width: 18rem;
      height: 2.375rem;
      font-size: 0.875rem;
      line-height: 1.375rem;
    }

    &:active,
    &:focus {
      border: 0.0625rem solid $bell-blue;
      outline: none;
    }

    &::placeholder {
      color: grey;
    }
  }

  &__button {
    background-color: $bell-blue;
    color: white;
    font-size: 1rem;
    font-weight: $font-weight-bold;
    border: none;
    padding: 1rem;
    border-radius: 1rem;
    cursor: pointer;

    &:hover {
      background-color: $bell-gray;
      color: $bell-blue;
      border: 1px solid $bell-blue;
    }
    &:active {
      background-color: $bell-blue;
      color: white;
    }
  }
}

.button-wrapper {
  @include flex-container($justify: center);
}

#comment {
  border: none;
  outline: none;
  width: 20rem;
  //   padding: 10rem;
  padding: 0 2rem;
  height: 20rem;
  background: transparent;
  background-image: url("../../assets/image/Talk\ Bubble\ social\ media\ square.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  @include flex-container($justify: center);
}

.error {
  color: red;
  font-style: italic;
  font-size: 0.9rem;
}
