@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;
@use "../../styles/typography" as *;

.card-grid {
    margin: 2rem;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}
  