@use "./variables" as *;

@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

/// Allows you to style the background/track of a `<progress>` element in a
/// cross-browser-compatible way.
/// @content Styles to apply to the progress bar track.
@mixin progress-track {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;
	@supports selector(::-moz-progress-bar) {
		@content;
	}
	&::-webkit-progress-bar {
		@content;
	}
}

/// Allows you to style the filled in portion of a `<progress>` element in a
/// cross-browser-compatible way.
/// @content Styles to apply to the progress bar's filled in portion.
@mixin progress-value {
	&::-webkit-progress-value {
		@content;
	}
	&::-moz-progress-bar {
		@content;
	}
}

@mixin flex-container($direction: row, $justify: flex-start, $align: stretch) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}
