// Font faces for Titillium fonts
@font-face {
  font-family: "BellSlim";
  font-weight: 700;
  src: url("../../assets/font/BellSlimHeavy.ttf") format("truetype");
}

@font-face {
  font-family: "BellSlim";
  font-weight: 600;
  src: url("../../assets/font/BellSlim-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Helvetica";
  font-weight: 300;
  src: url("../../assets/font/Helvetica-Font/Helvetica.ttf") format("truetype");
}

@font-face {
  font-family: "Helvetica";
  font-weight: 400;
  src: url("../../assets/font/Helvetica-Font/Helvetica-Bold.ttf")
    format("truetype");
}
