$primary-font: "Helvetica", sans-serif;
$secondary-font: "BellSlim", sans-serif;

// Font weights
$font-weight-regular: 400;
$font-weight-bold: 600;

//Colors
$bell-gray: #f4f4f4;
$bell-blue: #00549a;
$white: #ffffff;
$black: #000;
$green: #158463;
$red: #c94515;

// Responsive breakpoints
$desktop-breakpoint: 1280px;
$tablet-breakpoint: 768px;
