@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.footer {
  @include flex-container($justify: space-between, $align: center);
  background-color: $bell-gray;
  padding: 3.5rem 2rem;
  color: $bell-blue;
  font-size: 1.3rem;

  &__about {
    @include flex-container($direction: column, $justify: space-between);
  }
  &__socials {
    @include flex-container($justify: space-between);
    gap: 1rem;
  }
}

.icon-ui {
  display: inline-block;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  color: #00549a;
  background-color: #fff;
  @include flex-container($justify: center, $align: center);

  &:hover {
    background-color: #00549a;
  }
}
.icon svg {
  color: #00549a;
  display: block;
  width: 100%;
}
