@use "./styles/mixins" as *;
@use "./styles/variables" as *;

#root {
  font-family: $primary-font;
  color: $black;
  background-color: $white;
  margin: 0;
  padding: 0;
}

body{
  margin: 0;
  padding: 0;
}
